
// ProximaNovaBlack
@font-face {
    font-family: "ProximaNovaBlack";
    src: url(../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf);
}

// ProximaNovaBold
@font-face {
    font-family: "ProximaNovaBold";
    src: url(../fonts/ProximaNovaBold/ProximaNovaBold.ttf);
}

// ProximaNovaExtraBold
@font-face {
    font-family: "ProximaNovaExtraBold";
    src: url(../fonts/ProximaNovaExtraBold/ProximaNova-Extrabld.ttf);
}

// ProximaNovaLight
@font-face {
    font-family: "ProximaNovaLight";
    src: url(../fonts/ProximaNovaLight/ProximaNovaLight.otf);
}

// ProximaNovaRegular
@font-face {
    font-family: "ProximaNovaRegular";
    src: url(../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf);
}

// PIstokWebRegular
@font-face {
    font-family: "IstokWeb-Regular";
    src: url(../fonts/IstokWeb/IstokWeb-Regular.ttf);
}

// PIstokWebRegular
@font-face {
    font-family: "IstokWeb-Italic";
    src: url(../fonts/IstokWeb/IstokWeb-Italic.ttf);
}

// PIstokWebBold
@font-face {
    font-family: "IstokWeb-Bold";
    src: url(../fonts/IstokWeb/IstokWeb-Bold.ttf);
}

